@model ECC.WebApp.MVC.Models.ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

@{
    if(Model == null){
        <div>
        <h2>Oooops! Something was wrong!</h2>
        </div>

    }else{
        ViewData["Title"] = Model.Title;
        <div>
        <h2>@Html.Raw(Model.Message)</h2>
        </div>

    }
}

